div.app{
    margin: 20px;
    border: 1px solid lightgrey;
    padding: 10px;
}

input[type="text"]{
    height: 40px;
    width: 85%;
    font-size: 20px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid green;
}

input:focus{
    outline: none;
}

button{
    width: 14%;
    height: 40px;
    background-color: white;
    color: green;
    border: 1px solid green;
    margin-left: 2px;
    font-weight: bold;
}

button:hover{
    background-color: green;
    color: white;
}

div.item{
    padding: 14px;
    border-bottom: 1px solid lightgrey;
}

div.item:hover{
    background-color: lightgoldenrodyellow;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

div.text{
    display: inline;
    font-size: 20px;
    margin-left: 5px;
}

div.delete{
    float: right;
    color: orange;
    font-weight: bold;
    cursor: pointer;
}

div.true{
    text-decoration: line-through;
    color: grey;
}